################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NermaMetalManagementModule/FileContentIndex
/.vs/NermaMetalManagementModule/v17/.suo
/NermaMetalManagementModule/obj/Debug/net6.0-windows/NermaMetalManagementModule.dll
/.vs/*.*
