################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EgeHayatVehicleFleetManagementModule/FileContentIndex
/.vs/EgeHayatVehicleFleetManagementModule/v17/.suo
/EgeHayatVehicleFleetManagementModule/obj/Debug/net6.0-windows/EgeHayatVehicleFleetManagementModule.dll
/.vs/*.*
/EgeHayatVehicleFleetManagementModule/obj/Debug/net6.0-windows/ref/EgeHayatVehicleFleetManagementModule.dll
/EgeHayatVehicleFleetManagementModule/obj/Debug/net6.0-windows/EgeHayatVehicleFleetManagementModule.csproj.AssemblyReference.cache
/EgeHayatVehicleFleetManagementModule/obj/Debug/net6.0-windows/EgeHayatVehicleFleetManagementModule.csproj.CoreCompileInputs.cache
/EgeHayatVehicleFleetManagementModule/obj/Debug/net6.0-windows/EgeHayatVehicleFleetManagementModule.dll
/EgeHayatVehicleFleetManagementModule/obj/Debug/net6.0-windows/EgeHayatVehicleFleetManagementModule.g.resources
/EgeHayatVehicleFleetManagementModule/obj/Debug/net6.0-windows/EgeHayatVehicleFleetManagementModule.pdb
/EgeHayatVehicleFleetManagementModule/obj/Debug/net6.0-windows/refint/EgeHayatVehicleFleetManagementModule.dll
/.vs/EgeHayatVehicleFleetManagementModule/FileContentIndex/1a5daab0-bea2-4161-9105-424db1408d33.vsidx
/.vs/EgeHayatVehicleFleetManagementModule/FileContentIndex/24884cd2-40a3-478b-ae16-f6ccc117c251.vsidx
/.vs/EgeHayatVehicleFleetManagementModule/FileContentIndex/c055e62b-75af-492d-b3ec-a179bfe5c854.vsidx
/.vs/EgeHayatVehicleFleetManagementModule/FileContentIndex/cf4bc7f2-5468-4b66-9c72-0e82c371743f.vsidx
/.vs/EgeHayatVehicleFleetManagementModule/DesignTimeBuild/.dtbcache.v2
/.vs/EgeHayatVehicleFleetManagementModule/v17/.futdcache.v2
/.vs/EgeHayatVehicleFleetManagementModule/v17/.suo
/.vs/ProjectEvaluation/EgeHayatVehicleFleetManagementModule.metadata.v7.bin
/.vs/ProjectEvaluation/EgeHayatVehicleFleetManagementModule.projects.v7.bin
/EgeHayatVehicleFleetManagementModule/obj/EgeHayatVehicleFleetManagementModule.csproj.nuget.dgspec.json
/EgeHayatVehicleFleetManagementModule/obj/EgeHayatVehicleFleetManagementModule.csproj.nuget.g.props
/EgeHayatVehicleFleetManagementModule/obj/project.assets.json
/EgeHayatVehicleFleetManagementModule/obj/project.nuget.cache
/EgeHayatVehicleFleetManagementModule/obj/Release/net6.0-windows/EgeHayatVehicleFleetManagementModule.assets.cache
/EgeHayatVehicleFleetManagementModule/obj/Release/net6.0-windows/EgeHayatVehicleFleetManagementModule.csproj.AssemblyReference.cache
/EgeHayatVehicleFleetManagementModule/obj/Release/net6.0-windows/EgeHayatVehicleFleetManagementModule.GeneratedMSBuildEditorConfig.editorconfig
/.vs/EgeHayatVehicleFleetManagementModule/v17/.wsuo
/.vs/EgeHayatVehicleFleetManagementModule/v17/DocumentLayout.json
