################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NermaReservationManagementModule/FileContentIndex
/.vs/NermaReservationManagementModule/v17/.suo
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.dll
/.vs/*.*
/NermaReservationManagementModule/obj/Debug/net6.0-windows/ref/NermaReservationManagementModule.dll
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.csproj.AssemblyReference.cache
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.csproj.CoreCompileInputs.cache
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.dll
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.g.resources
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.pdb
/NermaReservationManagementModule/obj/Debug/net6.0-windows/refint/NermaReservationManagementModule.dll
/.vs/NermaReservationManagementModule/FileContentIndex/1a5daab0-bea2-4161-9105-424db1408d33.vsidx
/.vs/NermaReservationManagementModule/FileContentIndex/24884cd2-40a3-478b-ae16-f6ccc117c251.vsidx
/.vs/NermaReservationManagementModule/FileContentIndex/c055e62b-75af-492d-b3ec-a179bfe5c854.vsidx
/.vs/NermaReservationManagementModule/FileContentIndex/cf4bc7f2-5468-4b66-9c72-0e82c371743f.vsidx
/.vs/NermaReservationManagementModule/DesignTimeBuild/.dtbcache.v2
/.vs/NermaReservationManagementModule/v17/.futdcache.v2
/.vs/NermaReservationManagementModule/v17/.suo
/.vs/ProjectEvaluation/nermareservationmanagementmodule.metadata.v7.bin
/.vs/ProjectEvaluation/nermareservationmanagementmodule.projects.v7.bin
